<ion-view view-title="Spotify">
    <ion-content>

        <ion-list>
            <ion-item ng-href="#/spotify/playlists/{{ playlist.uri }}" ng-repeat="playlist in playlists">
                <div class="item-title">{{ playlist.name }}</div>
                <div class="item-sub">{{ playlist.foldersString }}</div>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
